[submodule "src/aws-deepracer-camera-pkg"]
	path = src/aws-deepracer-camera-pkg
	url = https://github.com/aws-deepracer/aws-deepracer-camera-pkg
[submodule "src/aws-deepracer-imu-pkg"]
	path = src/aws-deepracer-imu-pkg
	url = https://github.com/larsll/aws-deepracer-imu-pkg
[submodule "src/aws-deepracer-incar-video-pkg"]
	path = src/aws-deepracer-incar-video-pkg
	url = https://github.com/larsll/aws-deepracer-incar-video-pkg
