[submodule "src/aws-deepracer-camera-pkg"]
	path = src/aws-deepracer-camera-pkg
	url = https://github.com/larsll/aws-deepracer-camera-pkg
	branch = compressed-image
[submodule "src/larsll-deepracer-imu-pkg"]
	path = src/larsll-deepracer-imu-pkg
	url = https://github.com/larsll/larsll-deepracer-imu-pkg
	branch = main
[submodule "src/larsll-deepracer-incar-video-pkg"]
	path = src/larsll-deepracer-incar-video-pkg
	url = https://github.com/larsll/larsll-deepracer-incar-video-pkg
	branch = main
[submodule "src/aws-deepracer-interfaces-pkg"]
	path = src/aws-deepracer-interfaces-pkg
	url = https://github.com/larsll/aws-deepracer-interfaces-pkg
	branch = compressed-image
[submodule "deps/BMI160-i2c"]
	path = deps/BMI160-i2c
	url = https://github.com/larsll/BMI160-i2c.git
[submodule "src/web_video_server"]
	path = deps/web_video_server
	url = https://github.com/RobotWebTools/web_video_server
	branch = ros2
[submodule "src/aws-deepracer-sensor-fusion-pkg"]
	path = src/aws-deepracer-sensor-fusion-pkg
	url = https://github.com/larsll/aws-deepracer-sensor-fusion-pkg/
	branch = compressed-image	
[submodule "src/aws-deepracer-inference-pkg"]
	path = src/aws-deepracer-inference-pkg
	url = https://github.com/larsll/aws-deepracer-inference-pkg
	branch = compressed-image
[submodule "src/aws-deepracer-model-optimizer-pkg"]
	path = src/aws-deepracer-model-optimizer-pkg
	url = https://github.com/aws-deepracer/aws-deepracer-model-optimizer-pkg
	branch = main
[submodule "src/aws-deepracer-navigation-pkg"]
	path = src/aws-deepracer-navigation-pkg
	url = https://github.com/larsll/aws-deepracer-navigation-pkg
	branch = dev
[submodule "src/aws-deepracer-servo-pkg"]
	path = src/aws-deepracer-servo-pkg
	url = https://github.com/larsll/aws-deepracer-servo-pkg
	branch = dev
[submodule "deps/rosbag2"]
	path = deps/rosbag2
	url = https://github.com/ros2/rosbag2
	branch = foxy-future
[submodule "src/larsll-deepracer-logging"]
	path = src/larsll-deepracer-logging
	url = https://github.com/larsll/larsll-deepracer-logging.git
[submodule "deps/deepracer-viz"]
	path = deps/deepracer-viz
	url = https://github.com/jochem725/deepracer-viz
	branch = v2
