<launch >
  <arg name="fps" default="15" />
  <node pkg="camera_pkg" namespace="camera_pkg" exec="camera_node" output="log">
      <param name="resize_images" type="bool" value="False" /> 
      <param name="resize_images_factor" type="int" value="2" /> 
      <param name="display_topic_enable" type="bool" value="True" /> 
      <param name="fps" type="int" value="$(var fps)" />
      <param name="mask_images" type="float" value="-0.1" />
      <param name="mask_images_color" type="float" value="0.5" />
  </node>
  <node pkg="sensor_fusion_pkg" namespace="sensor_fusion_pkg" exec="sensor_fusion_node" output="log">
      <param name="image_transport" type="str" value="compressed" />
  </node>
  <node pkg="inference_pkg" namespace="inference_pkg" exec="inference_node" output="log">
    <param name="inference_engine" type="str" value="TFLITE" />
  </node>
  <node pkg="deepracer_navigation_pkg" namespace="deepracer_navigation_pkg" exec="deepracer_navigation_node" output="log" />
  <node pkg="logging_pkg" namespace="logging_pkg" exec="bag_log_node" output="log">
      <param name="monitor_topic_timeout" type="int" value="15" />
      <param name="monitor_topic" type="str" value="/deepracer_navigation_pkg/auto_drive" />
      <param name="monitor_usb" type="bool" value="False" />
      <param name="file_name_topic" type="str" value="/inference_pkg/model_artifact" />
      <param name="log_topics" value="/inference_pkg/rl_results" value-sep="," />
      <param name="output_path" type="str" value="/opt/aws/deepracer/logs" />
  </node>
</launch>